form{
    width: 400px;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid grey;
    input{
        display: block;
    }
}
span{
    position: relative;
    top: 13px;
    left: 15px;
    background-color: white;
}