header {
    background-color: $blue;
    padding: 7px 10px;
    border-radius: 20px;
    border: 1px solid white;
    outline: 1px solid blue;
    box-shadow: 2px -3px 6px blue;
    margin: 5px;

    a {
        text-decoration: none;
        color: $bianco;

        &:hover {
            text-decoration: underline;
            color: black;
        }
    }

    li {
        list-style: none;
        margin-right: 20px;
        font-style: $corsivo;
        font-size: 1.5rem;
        display: inline;
    }
}