

@mixin device ($breakpoint) {

    @if $breakpoint == mobile {
        @media screen and (min-width: 350px) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media screen and (min-width:576px){
            @content;
        }
    }
}
.cambio{
    @include device(mobile) {
        background-color: $nero;
        color:$bianco;
        max-width: 100%;
        div#articoli.row.articoli{
            background-color: gray;
        }
    }
    @include device(tablet) {
        background-color: $bianco;
        color: $nero;
        max-width: 100%;
        article{
            background-color: grey !important;
        }
    }
}